

/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

#juego div {

  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* MI CÓDIGO */

#juego {
  height: 600px;
  width: 600px;
}

#juego div {

  background-color: #8eaf8d;
  float: left;
  box-sizing: border-box;

}

.img-puzzle {
  height: 200px;
  width: 200px;
  border: solid 1px;
  float: left;
}

#imag-1, #imag-2, #imag-3, #imag-4, #imag-5, #imag-6, #imag-7, #imag-8 {
    height: 100%;
    width: 100%;
}

.titulo-puzzle {
  color: rgb(255, 255, 255);
  background-color: rgb(233, 0, 102);
}

.titulo-instrucciones {

  color: rgb(201, 8, 92);
}

#autor {
  color: white;
  background-color: black;
  text-align: center;
}
